<!DOCTYPE>
{% load staticfiles %}
<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href='/static/css/nav-bar.css'>
    <link rel="stylesheet" href="/static/css/inventory.css">
</head>
<body>
    {% csrf_token %}
    {% include "common/nav-bar.html" %}
    <div class="inventory-display-body width-90perc mt-20 margin-lr-auto">
        {% include "inventory/inventory-table.html" %}
    </div>
    <div id="pager" class="tac" data-total-pages="{{total}}"></div>
    <!-- scripts -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="/static/js/jquery.twbsPagination.min.js"></script>
    <script src="/static/js/inventory.js"></script>
</body>
</html>