.tac {
	text-align: center;
}
.navbar-position-relative {
	position: relative;
}
.margin-lr-auto {
	margin: 0 auto;
}
.width-90perc {
	width: 90%;
}
.mt-10 {
	margin-top: 10px;
}
.mt-20 {
	margin-top: 20px;
}
.width-100px {
	width: 100px;
}
.width-90px {
	width: 90px;
}
.height-90px {
	height: 90px;
}
.width-50px {
	width: 50px;
}
.height-50px {
	height: 50px;
}