<!DOCTYPE>
{% load staticfiles %}
<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/nav-bar.css">
    <link rel="stylesheet" href="/static/css/admin.css">
    <link rel="stylesheet" href="/static/css/spinner.css">
</head>
<body>
    {% csrf_token %}
    {% include "common/admin-nav-bar.html" %}
    <div class="panel panel-danger margin-lr-auto width-90perc">
        <div class="panel-heading">ADD Product</div>
        <table class="table">
            <thead>
                <tr>
                    <th>Sample</th>
                    <th>Name</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><input type="file" id="product-pic"></td>
                    <td><input type="text" id="product-title"></td>
                    <td><button type="button" class="btn btn-primary" id="add-product-btn">Add</button></td>
                    <td><div class="add-product-spinner"></div></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="inventory-display-body width-90perc mt-20 margin-lr-auto">
        {% include "admin/inventory-table.html" %}
    </div>
    <div id="pager" class="tac" data-total-pages="{{total}}"></div>
    <div class="edit-operation hide">
        <table>
            <tr>
                <td></td>
                <td></td>
                <td><input type="file" id="product-new-pic"></td>
                <td><input type="text" id="product-new-title"></td>
                <td><button type="button" class="btn btn-primary update-product">Update</button></td>
                <td><button type="button" class="btn btn-primary close-update">Close</button></td>
            </tr>
        </table>
    </div>
    <!-- scripts -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="/static/js/jquery.twbsPagination.min.js"></script>
    <script src="/static/js/admin.js"></script>
</body>
</html>