{% if products%}
<div class="panel panel-primary">
    <div class="panel-heading">Inventory</div>
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <td></td>
                <th>Sample</th>
                <th>Name</th>
                <th width="10%"></th>
                <th width="10%"></th>
            </tr>
        </thead>
        <tbody>
            {% for product in products%}
            <tr>
                <td>{{forloop.counter}}</td>
                <td><div class="product-id hide">{{product.id}}</div></td>
                <td><img src="{{product.pic_url}}" class="width-50px height-50px"></td>
                <td>{{product.title}}</td>
                <td><button type="button" class="btn btn-primary edit-product">Edit</button></td>
                <td><button type="button" class="btn btn-danger delete-product">Delete</button></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endif %}